<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Huerta Directa</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/Helpers/Ajax.js"></script>
</head>
<body>    
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="Home/Index">Huerta Directa</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/Home/#">Inicio</a></li>
                <li><a href="/Home/About">Quienes somos?</a></li>
                <li><a href="/Home/Contact">Contacto</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/Home/Registrar"><span class="glyphicon glyphicon-user"></span> Registrarse</a></li>
                <li><a href="/Home/Login"><span class="glyphicon glyphicon-log-in"></span> Ingresar</a></li>
            </ul>
        </div>
    </nav>
    
        @RenderBody()

        <footer>
            <p>&copy; @DateTime.Now.Year - Huerta Directa</p>
        </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
