<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Huerta Directa</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/Helpers/Ajax.js"></script>
    <script src="~/Scripts/Helpers/Combos.js"></script>
    <script src="~/Scripts/Helpers/TablaImagenes.js"></script>
</head>
<body>    
    <div id="header" class="Header">
        <div class="row header">
            <div class="col-md-3 ">
                <a  href="/"><img src="~/Content/huertaIcon.png" width="150" class="bavBarLogo" /></a>
            </div>
            <div class="col-md-3">
               
            </div>
            <div class="col-md-6 navBarContLink">
                <a class="navBarLink" href="/Home/Tienda"><span class="glyphicon glyphicon-"></span>Tienda</a>
            
                <a class="navBarLink" href="/Home/About">Productores</a>
           
                <a id="navBarLinkCarrito" class="navBarLink" href="/Home/Contact" style="display:none;"><span class="glyphicon glyphicon-shopping-cart"></span> Carrito</a>
          
                <a id="navBarLinkPedidos" class="navBarLink" href="/Home/Contact" style="display:none;">Pedidos</a>


                <a id="navBarLinkLogin" class="navBarLink" href="/Home/Login"><span class="glyphicon glyphicon-log-in"></span> Ingresar</a>
            
                <a id="navBarLinkRegistrar" class="navBarLink" href="/Home/Registrar"><span class="glyphicon glyphicon-user"></span> Registrarse</a>
            </div> 
        </div>
    </div>
    <div id="content" class="Content">
        @RenderBody()
    </div>
    <div id="footer" class="Footer">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4 footerText">
                <br />
                FACEBOOK
            </div>
            <div class="col-md-4 footerText alignTextLeft">
                <ul>
                    <br />
                    <li>Quienes somos?
                    <li>Puntos de venta
                    <li>Contacto
                </ul>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4"></div>
            <div class="col-md-4 footerText alignTextLeft"></div>
            <div class="col-md-2"><p>&copy; @DateTime.Now.Year - Huerta Directa</p></div>
        </div>
    </div>
            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)
</body>
</html>
